<div class="base">
</div>

  <div class="btn-noir">

  <%= @vinyl.artist %>

    <%= simple_form_for(@vinyl) do |f| %>
      <%= f.input :album %>
      <%= f.input :artist %>
      <%= f.input :commentaire %>
      <%= f.submit class: 'btn' %>
    <% end %>


  </div>
