<div class="base">
</div>

<div class="listing">

<%= form_with url: vinyls_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Trouver un vinyl"
  %>
  <%= submit_tag "Recherche", class: "search" %>
<% end %>


  <div class="titre">
    <h2>Mes vinyls</h2>
  </div>
    <div class="row">
      <div class="mesvinyls"><% @vinyls.each do |vinyl| %>
          <div class="inline">
            <%= link_to vinyl do %>

              <% if vinyl.photo.present? %>
                <%= cl_image_tag vinyl.photo.key.to_s, size: "150x150", crop: :fill, :style => "border-radius: 5%" %>
              <% else %>
                <%= image_tag "pochette.jpg", size: "150x150", crop: :fill, :style => "border-radius: 5%" %>
              <% end %>

                <div class="action">
                  <%= link_to vinyl_path(vinyl), data: { turbo_method: :delete, turbo_confirm: "Supprimer ?" } do %>
                    <%= image_tag("trash.svg") %>
                  <% end %>
                  <%= link_to edit_vinyl_path(vinyl) do %>
                    <%= image_tag("edit.svg") %>
                  <% end %>
                </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
</div>

<%# JE NARRIVE PU A AJOUTER AUTRE PHOTO QUE PHOTO AR DEFAULT %>
