<div class="base">
</div>

<div class="retour">
  <%= link_to vinyls_path do %>
    <%= image_tag("reply.svg") %>
  <% end %>
</div>

  <div class="titre">
    <h2><%= @vinyl.artist %></h2>
    <h3> <%= @vinyl.album %></h3>
  </div>

  <div class="contentshow">
  
    <% if @vinyl.photo.exist? %>
      <%= cl_image_tag vinyl.photo.key.to_s, size: "150x150", crop: :fill, :style => "border-radius: 5%" %>
    <% else %>
      <%= image_tag "pochette.jpg", size: "150x150", crop: :fill, :style => "border-radius: 5%" %>
    <% end %>

    <div class="com">
      <%= @vinyl.commentaire %>
    </div>

  <div>
    <%= link_to vinyl_path(@vinyl), data: { turbo_method: :delete, turbo_confirm: "Supprimer ?" } do %>
      <%= image_tag("trash.svg") %>
    <% end %>
    <%= link_to edit_vinyl_path(@vinyl) do %>
      <%= image_tag("edit.svg") %>
    <% end %>
  </div>
