<div>

  <div class="base">
  </div>

  <div class="index">
    <div class="click btn">
      <%= link_to vinyls_path do %>
      <h2> <%= "Mes vinyls" %> <%= image_tag("cd.svg") %></h2>
      <% end %>
    </div>

      <div class="wrapper">
        <nav class="lil-nav">
        <div class="gallery">
          <% @vinyls.each do |vinyl| %>
            <%= cl_image_tag vinyl.photo.key.to_s, size: "150x150", crop: :fill, :style => "border-radius: 5%; margin: 2%" %>
          <% end %>
        </div>
      </div>

      <div class="click btn">
            <%= link_to favorites_path do %>
            <h2> <%= "Mes souhaits" %> <%= image_tag("heart.svg") %></h2>
            <% end %>
      </div>

        <div class="wrapper">
        </div>
    </div>

    <p id="notice"><%= notice %></p>
    <%# devise %>

  </div>
