<div class="base">
</div>

<div class="logo-profil">
<%= image_tag("logo.png") %>
</div>

<div class="txt">
  <p>Vous avez <%= @vinyls %> <strong>vinyls</strong> dans votre collection. </p>
  <p>Vous avez favoris.</p>
</div>

<div class="btn-profil">
  <div class="eject">
    <%= link_to image_tag("deconnexion.svg"), destroy_user_session_path, class: "exit", method: :delete %>
    <%= "Se déconnecter" %>
  </div>
  <div class="edit">
    <%= link_to image_tag("edit.svg"), edit_user_registration_path %>
    <%= "Modifier" %>
  </div>
</div>
