<!DOCTYPE html>
<html>
  <head>
    <title>My Vinyls</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/navbar"  unless current_page?('/') || current_page?('/users/sign_in') || current_page?('/user/sign_in') || current_page?('/user/sign_up') || current_page?('/user/password/new') %>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      < class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%# pour devise %>

    

    <%= yield %>
  </body>
</html>
