<!DOCTYPE html>
<html>
  <head>
    <title>My Vinyls</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/navbar"  unless current_page?('/') || current_page?('/users/sign_in') || current_page?('/users/sign_in') || current_page?('/users/sign_up') || current_page?('/users/password/new') || current_page?('/users/password/new') || current_page?('/users/password/edit') || current_page?('/users/password') || current_page?('/users/cancel') %>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%# pour devise %>

    <%= yield %>
  </body>
</html>
